/* 设置所有元素的盒模型为border-box */
*{
    box-sizing: border-box;
}
/* 设置body元素的样式 */
body{
    /* 设置body元素为弹性布局 */
    display: flex;
    /* 垂直居中对齐 */
    align-items: center;
    /* 水平居中对齐 */
    justify-content: center;
    /* 设置body元素的高度为视口高度 */
    height: 100vh;
    /* 隐藏溢出内容 */
    overflow: hidden;
    /* 设置外边距为0 */
    margin: 0;
}

/* 容器样式 */
.container{
    display: flex; /* 使用弹性布局 */
    width: 90vw; /* 宽度为视口宽度的90% */
}

/* 面板样式 */
.panel{
    background-size: cover; /* 背景图片覆盖整个元素 */
    /* 设置背景图片的位置为居中 */
    background-position: center;
    /* 设置背景图片不重复 */
    background-repeat: no-repeat;
    /* 设置元素的高度为视口高度的80% */
    height: 80vh;
    /* 设置元素的边框圆角为50px */
    border-radius: 50px;
    /* 设置元素的颜色为白色 */
    color: #fff;
    /* 设置鼠标悬停时的光标为指针 */
    cursor: pointer;
    /* 设置元素的弹性盒模型为0.5 */
    flex:0.5;
    /* 设置元素的外边距为10px */
   /* 设置外边距为10px */
    margin: 10px;
    /* 设置元素为相对定位 */
    position: relative;
    /* 设置所有属性在700毫秒内以ease-in缓动函数进行过渡 */
    transition: all 700ms ease-in;
}

.panel h3{
    /* 设置字体大小为24px */
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* 当.panel类被激活时，应用以下样式 */
.panel.active{
    flex: 5;
}

/* 当.panel元素处于.active状态时，h3元素的透明度设置为1，即完全不透明 */
.panel.active h3{
    opacity: 1;
    /* 设置透明度变化的过渡效果，持续时间为0.3s，过渡方式为ease-in，延迟时间为0.4s */
    transition: opacity 0.3s ease-in 0.4s;
}

/* 当屏幕宽度小于等于480px时，执行以下样式 */
@media (max-width:480px){
    /* 容器的宽度为视口宽度 */
    .container{
        width: 100vw;
    }
    /* 隐藏第4个和第5个panel */
    .panel:nth-child(4),
    .panel:nth-child(5){
        display: none;
    }

}